*{
padding:0px;
margin:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
}
body{
height:100%;
background-color:#F3F1E9;
position:relative;
}
html > body{
min-height:100%;
height:auto;
}
#header{
height:222px;
background-image:url(/resources/images/header_bg.gif);
background-position:top left;
background-repeat:repeat-x;
}
#header_inside{
width:1000px;
margin:0 auto;
position:relative;
}
#menu{
position:absolute;
top:156px;
left:26px;
}
#menu li{
display:inline;
}
#menu a{
margin:0 1px 0 0;
width:110px;
text-align:center;
padding:8px 0 18px 0;
display:block;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0D0D0D;
text-decoration:underline;
background-position:top left;
background-repeat:no-repeat;
}
#menu .but1_active, #menu .but1:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#menu .but2_active, #menu .but2:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#menu .but3_active, #menu .but3:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#menu .but4_active, #menu .but4:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#menu .but5_active, #menu .but5:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#menu .but6_active, #menu .but6:hover{background-image:url(/resources/images/but.gif); text-decoration:none; color:#FFFFFF;}
#wrapper{
padding:0 0 142px 0
}
#content_inside{
background-image:url(/resources/images/bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:1000px;
margin:0 auto;
overflow:hidden
}
#sidebar{
width:175px;
float:left;
padding:13px 32px 0 23px;
}
#list{
list-style-type:none;
margin:11px 0 0 0;
line-height:18px;
height:18px;
}
#list a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#464646;
text-decoration:none
}
#list a:visited{text-decoration:none}
#list a:hover{text-decoration:underline}
#list li{
width:165px;
padding:0 0 0 10px;
}
.color{
background-color:#ECECC5
}
#main_block{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#464646;
overflow:hidden;
float:left;
width:752px;
}
.about{
padding:13px 0 0 0;
width:450px;
float:left;
margin:0 29px 0 0;
}
.about p{
padding:5px 0 0 12px;
}
.about a{
display:block;
color:#547223;
text-decoration:underline;
margin:5px 0 0 12px;
}
.about a:visited{text-decoration:underline}
.about a:hover{text-decoration:none}
.news{
background-color:#ECECC5;
border:1px solid #DFDEC0;
width:220px;
float:left;
padding:13px 26px 13px 20px
}
.news_item_2{
background-color:#ECECC5;
border:1px solid #DFDEC0;
width:550px;
float:left;
padding:13px 26px 13px 20px
}
.news p{
padding:5px 0 0 2px
}
.news_item_2 p{
padding:5px 0 0 2px
}
#footer{
width:100%;
height:142px;
position:absolute;
bottom:0px;
background-image:url(/resources/images/footer_bg.gif);
background-position:top left;
background-repeat:repeat-x;
}
#items{
float:left;
padding:22px 0 0 0;
width:770px;
}
.item{
width:241px;
height:270px;
float:left;
background-image:url(/resources/images/item_bg.gif);
background-position:top left;
background-repeat:no-repeat;
padding:0 12px 15px 0;
display:inline;
}

.item_name {
padding:0 0 0 12px;
}

.item_shell {
	float:left;
}
.news_item{
width:550px;
height:265px;
float:left;
background-image:url(/resources/images/item_bg.gif);
background-position:top left;
background-repeat:no-repeat;
padding:0 12px 15px 0;
display:inline;
}
.news_item img{
margin:26px 0 0 25px;
}
.item img{
float:center;
margin:26px 0 0 25px;
}

.test_image {
	float:center;
}

.item span{
display:block;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#E9410E;
padding:0 0 0 20px;
}
.news_item span{
display:block;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#E9410E;
width:70px;
padding:0 0 0 20px;
}
.view{
display:block;
float:left;
line-height:18px;
margin:3px 3px 0 0;
width:41px;
text-align:center;
background-image:url(/resources/images/view_bg.gif);
background-position:top left;
background-repeat:no-repeat;
color:#fff;
text-decoration:none
}
.buy{
display:block;
float:left;
line-height:18px;
margin:3px 3px 0 0;
width:92px;
text-align:center;
background-image:url(/resources/images/buy_bg.gif);
background-position:top left;
background-repeat:no-repeat;
color: red;
text-decoration:none
}
#footer_inside{
width:1000px;
height:142px;
margin:0 auto;
background-image:url(/resources/images/telephone.jpg);
background-position:top right;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.footer_menu{
list-style-type:none;
padding:25px 0 0 42px;
}
.footer_menu li{
display:inline;
line-height:17px;
float:left;
}
.footer_menu li a{
color:#0D0D0D;
text-decoration:none;
margin:0 6px;
}
.footer_menu li a:visited{text-decoration:none}
.footer_menu li a:hover{text-decoration:underline}
#footer_inside p{
padding:10px 0 0 48px;
}
#footer_inside p a{
color:#E9410E;
text-decoration:underline
}
#footer_inside p a:visited{text-decoration:underline}
#footer_inside p a:hover{text-decoration:none}
#item{
padding:13px 0 0 5px;
float:left
}
#item h4{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#242424;
font-weight:normal;
}
.big_view{
width:478px;
padding:20px 0 12px 0;
vertical-align:middle;
border:1px solid #D6D3C7;
background-color:#FFFFFF;
position:relative;
text-align:center;
}
.big_view span{
font-size:30px;
color:#E9410E;
display:block;
position:absolute;
bottom:10px;
left:25px;
}
.scroll{
width:478px;
border:1px solid #D6D3C7;
background-color:#FFFFFF;
padding:6px 0;
text-align:center;
margin:5px 0 0 0;
}
.scroll a{
margin:0 2px;
} 
.description{
width:220px;
float:left;
padding:55px 0 0 25px;
}
.description p{
padding-bottom:15px;
}
.style1{
padding:0 0 200px 0
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}

.categoryBannerDesc {

background-color: #dcdcdc;
text-align:right;
padding:7px;
}
.categoryBannerDesc a {

color: #000000;
font-size:19px;
line-height:21px;
letter-spacing:0;
font-weight:normal;
font-family:"minion-pro",sans-serif;
}

.banner-swatches {
	
	
}

.product {
	background:transparent url(/resources/images/rh_product_in_collection_background.png) no-repeat left top;
}

.about_us_item {
   width:478px;	
	
}

#---Errors and messages-----
.error {
	color:#E9410E;
}
.errorCode {
	color:#E9410E;
	font-size:11px;
	font-family:"minion-pro",sans-serif;
	font-style: italic;
}

.messages {
    width: 50%;
    margin: 0px auto;
}

.success-msg {
    background-color: rgb(239, 245, 234);
    background-image: url("/resources/images/success_msg_icon.gif");
    background-repeat: no-repeat;
    border-bottom-color: rgb(51, 102, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(51, 102, 0);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(51, 102, 0);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(51, 102, 0);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(51, 102, 0);
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	list-style-position: outside;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 24px;
	padding-bottom: 8px;
	padding-left: 32px;
	padding-right: 8px;
	padding-top: 8px;
	text-align: left;
}
